@{
    ViewData["Title"] = "Sub Goal";
}   

<style>
    html, body {
        height: 100%
    }

    #container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75vw;
        height: 75vh;
        line-height: 75vh;
        font-size: 75vh;
        font-family: calibri;
        font-weight: bold;
        overflow: hidden;
    }

    #content {
        width: 100%;
        height: 100%;
        
        position: relative;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }

    #background {
        background-color: lightgray;
        width: 100%;
        height: 100%;
    }

    #progress {
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.15)) rgb(70, 230, 90);
        box-shadow: 0px 0px 1px rgb(0, 0, 0);
        width: 0%;
        height: 100%;
    }

    #leftText, #middleText, #rightText {
        position: absolute;
        text-align: center;
        vertical-align: middle;
        top: 0;
    }

    #leftText {
        left: 0%;
        padding: 0 1vw;
    }

    #middleText {
        left: 0%;
        width: 100%;
    }

    #rightText {
        right: 0%;
        padding: 0 1vw;
    }

    #border {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 5vh solid rgba(0,0,0,0.5);
        box-sizing: border-box;
    }
</style>


<div id="container">
    <div id="content">
        <div id="background">
            <div id="progress"></div>
            <div id="leftText">Sub Goal</div>
            <div id="middleText"></div>
            <div id="rightText"></div>
        </div>
        <div id="border"></div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/subs.js"></script>